<html lang="es" xmlns:th="https://www.thymeleaf.org">
<body>
	<footer class="page-footer font-small bg-info pt-4">
		<div id="footer" th:fragment="footer" style="background-color: #20B2AA;">
			<div class="container text-center text-md-left">
				<div class="row">

					<div class="col-md-4 mx-auto">
						<h5 class="font-weight-bold text-uppercase mt-3 mb-4">REGISTRO
							DE PERSONAS</h5>
						<p class="text-white">Comite Operativo de Emergencias 2020</p>
						<p class="text-white">#QuedateEnCasa #AhoraEsResponsabilidadDeTodos</p>
					</div>

					<hr class="clearfix w-100 d-md-none">
					<div class="col-md-4 mx-auto">
						<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Paginas
							Oficiales</h5>
						<ul class="list-unstyled">
							<li><a class="text-light" href="http://jujuy.gob.ar/">Gobierno
									de la Provincia de Jujuy</a></li>
							<li><a class="text-light" href="http://coe.jujuy.gob.ar/">COE
									Provincial</a></li>
						</ul>
					</div>

					<hr class="clearfix w-100 d-md-none">
					<div class="col-md-4 mx-auto">
						<h6 class="font-weight-bold text- mt-3 mb-2">Si tenes sintomas respiratorios:</h6>
						<ul class="list-unstyled">
							<li><a class=" font-weight-bold text-dark" href="http://salud.jujuy.gob.ar/">Consulta virtual</a></li>
							<li><a class="font-weight-bold text-">Consulta telefonica</a>
								<ul class="list-unstyled">
									<li><a class="text-light">0800 888 4767</a></li>
									<li><a class="text-light">0800 777 7711</a></li>
								</ul></li>

						</ul>
					</div>

				</div>
			</div>

		</div>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
	</footer>
</body>
</html>