<!--Main Navigation-->
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<header style="background-color: #20B2AA;">

	<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar"
		style="background-color: #20B2AA;">
		<a class="navbar-brand text-dark" href="#"><strong>REGISTRO
				DE PERSONAS</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white" href="cargarUsuario">Usuarios</a>
				</li>
				<li class="nav-item"><a class="nav-link text-white" href="cargarBarrio">Barrios</a>
				</li>
			</ul>

			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav mt-2 mt-lg-0">
					<li class="nav-item">
					<a class="btn btn-outline-white my-2 my-sm-0 form-control text-white " style="background-color: #4682B4;" href="/" 
						th:href="@{/logout}">
						 <span> Salir </span>
				<i class="fas fa-sign-out-alt"></i>
					</a></li>
				</ul>
			</form>

		</div>
	</nav>

</header>
</html>
<!--Main Navigation-->