<!DOCTYPE html>

<html lang="es" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><head>
<meta charset="ISO-8859-1">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Consulta</title>
</head>
<body>

	<div th:insert="layout/header :: header"></div>


	<div class="container">
		<br> <br> <br>
		<div class="card">
			<div>
				<div class="card-body">
					<div style="background-color: #20B2AA;">
						<h6 class="p-2 mb-2 text-black card-title">PERSONAS QUE
							CIRCULARON POR UN BARRIO EN UN RANGO POR FECHA INGRESADA</h6>
					</div>
					<form class="form" role="form" th:object="${consulta}"
						th:action="@{/consultaUno}" method="post">
						<h6>Seleccione el barrio</h6>
						<select class="form-control " th:field="${consulta.barrio}">
							<option  selected value=""> </option>
							<option  th:each="barrios:${barrios}" th:value="${barrios.id}" th:text="${barrios.barrio}"></option>
						</select> <br>

						<div class="form-group row">
							<label for="fechaInicial" class="col-lg-3 col-form-label form-control-label">Fecha inicial</label>
							<div class="col-lg-9 input-group date" id="datetimepicker1" data-target-input="nearest">
								<input type="datetime-local" class="form-control datetimepicker-input"
								    data-target="#fechaInicial" id="fecha01" placeholder="Fecha inicial" th:field="${consulta.fechaDesde}" />
								<div class="input-group-append" data-target="#datetimepicker1"
									data-toggle="datetimepicker">
									<div class="input-group-datetime-local">
										<i class="fa fa-calendar-alt"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="fechaFinal" class="col-lg-3 col-form-label form-control-label">Fecha final:</label>
							<div class="col-lg-9 input-group date" id="datetimepicker2" data-target-input="nearest">
								<input type="datetime-local" class="form-control datetimepicker-input"
									data-target="#fechaFinal" id="fecha02"placeholder="Fecha final" th:field="${consulta.fechaHacia}"/>
								<div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
									<div class="input-group-datetime-local">
										<i class="fa fa-calendar-alt"></i>
									</div>
								</div>
							</div>
						</div>
						
						<input type="submit" class="btn btn-primary" value="Buscar">
					</form>
				</div>
			</div>
		</div>
		<br> <br>
		<div class="card">
			<div class="card-body">
				<h5 class="p-2 mb-2 text-black card-title">PERSONAS</h5>
				<div class="table-responsive ">
					<table class="table table-striped ">
						<thead class="thead-light " >
							<tr>
								<th scope="col">#</th>
								<th scope="col">Documento</th>
								<th scope="col">Nombres</th>
								<th scope="col">Apellido</th>
								<th scope="col">CONDICION SANITARIA</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="personaConsulta:${personaConsulta}" >
								<td th:text="${personaConsulta.id_testeos}"></td>
								<td th:text="${personaConsulta.documento}"></td>
								<td th:text="${personaConsulta.nombres}"></td>
								<td th:text="${personaConsulta.apellido}"></td>
								<td><a class="btn btn-info" href="#" data-toggle="modal" data-target="#modalBuscar">VER CONDICION SANITARIA </a> </td>
					</tr>
				</tbody>
			</table>
			 <div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="modalBuscar" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="id">
				<div class="modal-content">
					<form id="personaForm" th:object="${condiciones}" th:action="@{/consultaTres}" method="post">
						<div class="modal-header" style="background-color: #20B2AA;">
				<h5 id="modalBuscar" class="modal-title p-2 mb-2 text-black card-title">Condicion Sanitaria</h5>			
						</div>
						<div class="modal-body">
							<div class="form-group">
							  <table class="table table-striped">
							<thead class="thead-light" >
								<tr>
									<th scope="col" class="text-center">#</th>
									<th scope="col" class="text-center">Usa TapaBoca</th>
									<th scope="col" class="text-center">Cumple Terminacion de DNI</th>
									<th scope="col" class="text-center">Esta Acompanado</th>
									<th scope="col" class="text-center">Posee Permiso de Circulacion</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="condiciones:${condiciones}">
									<td th:text="${condiciones.id}"></td>
									<td th:text="${condiciones.usaTapaBoca}"></td>
									<td th:text="${condiciones.cumpleTerminacionDNI}"></td>
									<td th:text="${condiciones.estaAcompanado}"></td>
									<td th:text="${condiciones.poseePermisoCirculacion}"></td>
							</tbody>	
				</table>
				</div></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
						</div>
					</form>
<br> <br> <br>
	</div></div></div>
</div></div></div>

		<script type="text/javascript">
			function mostrarCondicion(id) {
				$('#modalCondicion').modal('show');
				$("#identificadorPersonaHiddenInput").val(id);
			}
		</script>

<br> <br>


	</div>	

<br> <br> <br>
	<div th:insert="layout/footer :: footer"></div>
	
</body>
</html>
