<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta charset="ISO-8859-1">
<title>Formulario de Persona</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>

<body >
<br>
<div th:insert="layout/header :: header"></div>
<br>
<div class="container">
	<br>
	<h1>PERSONA<small><em> Formulario -Ingrese datos- </em></small></h1>
	<br>
	<form form autocomplete="off" th:object=${personaF} th:action="${editMode}?@{/Mpersona}:@{/guardarPersona}" method="post">
		<input class="form-control" type=hidden th:field="*{id}" th:if="${editMode}">
		  <div class="form-group">
		    <label for="idNombres">Nombres</label>
		    <input th:field="*{nombres}" type="text" class="form-control" id="nombres" placeholder="Nombres">
		  </div>
		  
			  <div class="form-group">
			    <label for="idApellidos">Apellidos</label>
			    <input th:field="*{apellido}" type="text" class="form-control" id="apellidos" placeholder="Apellidos">
			  </div>
			  
			  <div class="form-group">
			    <label for="idNacionalidad">Nacionalidad</label>
			    <input th:field="*{nacionalidad}" type="text" class="form-control" id="nacionalidad" placeholder="Nacionalidad">
			  </div>
			  
			  <div class="form-group">
			    <label for="idDNI">D.N.I</label>
			    <input th:field="*{documento}" type="number" class="form-control" id="documento" placeholder="Documento">
			  </div>
			  
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Confirmo que todo los datos dados son verdaderos 
			    </label>
			  </div>
			  
		  <button type="submit" class="btn btn-primary" th:value="${editMode}?'Guardar Persona':'Crear Persona'">Cargar Persona</button>
	<a th:href="@{/Lpersonas}" class="btn btn-primary"> Ver Lista </a>
	</form>
</div>
<br>
<div th:insert="layout/footer :: footer"></div>	
<br>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

</body>
</html>