<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Persona</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<div th:insert="layout/header :: header"></div>

	<div class="container">
		<br> <br> <br>
		<div class="card">
			<div class="card-body">
				<div style="background-color: #20B2AA;">
					<h4 class="p-2 mb-2 text-black card-title">PERSONA</h4>
				</div>
				<form th:action="@{/save}" th:object=${Persona} method="POST">
					<div class="form-group row">
						<label for="idnombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-10">
							<input th:field="*{Persona.nombre}" type="text"
								class="form-control" id="nombre">
						</div>
					</div>

					<div class="form-group row">
						<label for="idapellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-10">
							<input th:field="*{Persona.apellido}" type="text"
								class="form-control" id="apellido">
						</div>
					</div>

					<div class="form-group row">
						<label for="iddoc" class="col-sm-2 col-form-label">Documento</label>
						<div class="col-sm-10">
							<input th:field="*{Persona.doc}" type="text" class="form-control"
								id="doc">
						</div>
					</div>

					<div class="form-group row">
						<label for="idnacionalidad" class="col-sm-2 col-form-label">Nacionalidad</label>
						<div class="col-sm-10">
							<input th:field="*{Persona.nacionalidad}" type="text"
								class="form-control" id="nacionalidad">
						</div>
					</div>

					<button type="submit" value="Guardar" class="btn btn-primary">Agregar</button>
					<a class="btn btn-light" th:href="@{persona/Volver}">Volver</a>

				</form>
			</div>
		</div>
	</div>

	<div th:insert="layout/footer :: footer"></div>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>



</body>
</html>