<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registro Tracking</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>
<body>
	<div th:insert="layout/header :: header"></div>

	<div class="container">
		<br> <br> <br>
		<h1>REGISTRO TRACKING</h1>
		<br>
		<p>Busque y seleccione una persona, de no encontrarla, agreguela.</p>
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#modalBuscarPersona">Buscar Persona</button>
		<a th:href="@{/nuevoPersona}" class="btn btn-primary text-white">
			Agregar Persona </a> <br> <br>

		<div class="card">
			<div class="card-body">
				<div style="background-color: #20B2AA;">
					<h5 class="p-2 mb-2 text-black card-title">PERSONA</h5>
				</div>
				<form id="datosPersona" th:object="${Persona}">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>Nombre</label>
							<p class=" p-2 mb-2 bg-light text-dark">
								<label th:text="${Persona.nombre}"></label>
							</p>
						</div>
						<div class="col-md-6 form-group">
							<label>Apellido</label>
							<p class=" p-2 mb-2 bg-light text-dark">
								<label th:text="${Persona.apellido}"></label>
							</p>
						</div>
						<div class="col-md-6 form-group">
							<label>Documento</label>
							<p class=" p-2 mb-2 bg-light text-dark">
								<label th:text="${Persona.doc}"></label>
							</p>
						</div>
						<div class="col-md-6 form-group">
							<label>Nacionalidad</label>
							<p class=" p-2 mb-2 bg-light text-dark">
								<label th:text="${Persona.nacionalidad}"></label>
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>

		<br>

		<h6>Complete los datos de la condicion sanitaria de la persona.</h6>
		<a th:href="@{/condicionSanitaria}" class="btn btn-primary text-white">Condicion
			Sanitaria</a> <br> <br> <br>

		<form th:action="@{/save}" th:object=${ValidarCondicionSanitaria}
			method="POST">

			<div class="card col-md-12 mx-auto">
				<div class="card-body">
					<div style="background-color: #20B2AA;">
						<h4 class="p-2 mb-2 text-black card-title">BARRIO</h4>
					</div>
					<h6>Seleccione el barrio</h6>
					<select class="form-control"
						th:field="${registroTrackingD.localidad.idLocalidad}">
						<option th:each="localidad:${localidades}"
							th:value="${localidad.idLocalidad}" th:text="${localidad.nombre}"></option>
					</select> <br>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Detalle del lugar</label>
						<textarea th:field="*{RegistroTracking.detalleLugarRegistro}"
							class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Agregar
				Registro</button>
			<a class="btn btn-danger text-white"
				th:href="@{agregarRegistro/cancelar}">Cancelar</a>
		</form>
		<br> <br> <br> <br>

		<div class="modal fade" id="modalBuscarVehiculo" tabindex="-1"
			role="dialog" aria-labelledby="buscarPersonaModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form id="personaForm" th:object="${persona}"
						th:action="@{/buscarPersona}" method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="buscarPersonaModal">Buscar
								persona</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="doc">DNI</label> <input class="form-control"
									id="dni" th:field="${Persona.doc}"
									placeholder="Ingresar numero de DNI"></input>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cerrar</button>
							<input type="submit" class="btn btn-primary"
								value="Buscar Persona">
						</div>
					</form>

				</div>
			</div>
		</div>


	</div>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<div th:insert="layout/footer :: footer"></div>
</body>
</html>